* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%, 1);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
    font-size: 13px;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--light-grayish-blue);
}

/* UTILITY CLASS */
.active {
    background-color: var(--grayish-blue);
    color: white;
}

.open-box {
    display: flex;  
}

.closed-box {
    display: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component {
    width: 730px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
    position: relative;
}

.img-container {
    width: 21.87rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/images/drawers.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.component-content {
    width: 34rem;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.component-content h2 {
    color: #48556A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: 0.25px;
}

.component-content p {
    color: #6E8098;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00763rem;
}

.subheading {
    margin-top: .75rem;
    color: #6E8098;
    font-family: Manrope;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00763rem;
}

.social-box {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.social-info {
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-info img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.social-info-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.social-info-text p:nth-child(1){
    font-weight: 700;
    color: var(--dark-grayish-blue);
}

.share-btn {
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.share-btn:hover {
    background-color: var(--dark-grayish-blue);
    color: #FFF;
}

.share-box {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 248px;
    background-color: #48556A;
    position: absolute;
    bottom: 80px;
    right: -85px;
    border-radius: 10px;
    transition: all 0.3s ease;
}


.share-box-details {
    color: #166ed2;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 153.846% */
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    z-index: 1;
}

.share-box-details p  {
    color: #9DAEC2;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 153.846% */
    letter-spacing: 5px;
}

.share-box-details img {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #48556A;
    position: absolute;
    bottom: -10px;
    z-index: 0;

}

/* Media Queries */
@media screen and (max-width: 626px) {

    .component {
        flex-direction: column;
        height: 32rem;
        width: 20rem;
    }

    .component .elevated {
        height: 35rem;
    }

    .img-container {
        width: 100%;
        height: 50%;
    }

    .component-content {
        width: 100%;
        padding: 1.5rem;
        
    }

    .component-content h2 {
        color: #48556A;
        font-family: Manrope;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.0125rem;
    }

    .component-content p {
        color: #6E8098;
        font-family: Manrope;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem; /* 153.846% */
        letter-spacing: 0.00763rem;
    }

    .social-box {
        margin-top: 2rem;
    }

    .share-box {
        height: 50px;
        width: 248px;
        background-color: #48556A;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: all 0.3s ease;
        border-radius: 0px 0px 10px 10px;
    }

    .share-box-details p  {
        color: #9DAEC2;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 153.846% */
        letter-spacing: 5px;
    }

    .triangle-down {
        display: none;
    }
}